<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate()" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                            <button type="button" pButton label="Select File" icon="pi pi-cloud-upload" class="p-button-outlined" (click)="fileInput.click()" style="margin-right: 2%;margin-left:2%;min-width: 100px; display: flex; align-items: center; white-space: nowrap; padding-right:20px"></button>
                            <input #fileInput id="file-upload" type="file" (change)="onExcelFileSelected($event)" accept=".xlsx, .xls" style="display: none;">
                            <button pButton  (click)="importExcel()" *ngIf="excelFile" label="{{ 'Import' | translate }}" icon="pi pi-upload" styleClass="p-button-help" style="margin-right: 2%; padding-right:20px;"></button>
                    </div>
                </ng-template>

            </p-toolbar>
            <div *ngIf="findByCriteriaShow" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 border border-surface rounded-lg">


                        <div class="flex flex-col gap-2">
                            <label  class="text-sm font-semibold" for="1-2">{{'tourneeReleveCompteur.appareil' | translate}}</label>
                                <p-select [options]="appareils" [(ngModel)]="criteria.appareil" id="1" [filter]="true" class="w-full"
                                            [showClear]="true"  placeholder="{{'tourneeReleveCompteur.appareil' | translate}}" optionLabel="numeroAppareil">
                                </p-select>
                        </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="2-1">{{'tourneeReleveCompteur.indiceMin' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.indiceMin" id="2-1"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="2-2">{{'tourneeReleveCompteur.indiceMax' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.indiceMax" id="2-2"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="3-1">{{'tourneeReleveCompteur.indicePrecedentMin' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.indicePrecedentMin" id="3-1"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="3-2">{{'tourneeReleveCompteur.indicePrecedentMax' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.indicePrecedentMax" id="3-2"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="4-1">{{'tourneeReleveCompteur.consommationMin' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.consommationMin" id="4-1"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="4-2">{{'tourneeReleveCompteur.consommationMax' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.consommationMax" id="4-2"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="5-1">{{'tourneeReleveCompteur.seuilComsommationMin' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.seuilComsommationMin" id="5-1"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label  class="text-sm font-semibold" for="5-2">{{'tourneeReleveCompteur.seuilComsommationMax' | translate}}</label>
                                    <p-inputNumber  mode="decimal" [(ngModel)]="criteria.seuilComsommationMax" id="5-2"></p-inputNumber>
                                </div>
                            <div class="flex flex-col gap-2">
                                <label  class="text-sm font-semibold" for="7">{{'tourneeReleveCompteur.photo' | translate}}</label>
                                <input  pInputText id="7" type="text"  [(ngModel)]="criteria.photoLike">
                            </div>
                        <div class="flex flex-col gap-2">
                            <label  class="text-sm font-semibold" for="8-2">{{'tourneeReleveCompteur.tourneeReleveDetail' | translate}}</label>
                                <p-select [options]="tourneeReleveDetails" [(ngModel)]="criteria.tourneeReleveDetail" id="8" [filter]="true" class="w-full"
                                            [showClear]="true"  placeholder="{{'tourneeReleveCompteur.tourneeReleveDetail' | translate}}" optionLabel="id">
                                </p-select>
                        </div>

                <div class="col-span-full flex justify-end mt-4">
                    <button pButton pRipple class="px-4 py-2 rounded-md" (click)="findPaginatedByCriteria()">
                        <i class="pi pi-sort-amount-down"></i> {{'validate' | translate}}
                    </button>
                </div>
            </div>

                <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                         [globalFilterFields]="['appareilnumeroAppareil', 'indice', 'indicePrecedent', 'consommation', 'seuilComsommation', 'photo', 'tourneeReleveDetailid']" [(selection)]="selections"
                         [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-col md:flex-row justify-between items-center p-2 gap-4">
                            <h5 class="text-center md:text-left">{{'tourneeReleveCompteur.header' | translate}}</h5>
                            <span class="relative w-full md:w-auto">
                            <p-iconfield iconPosition="left" class="w-full md:w-auto">
							  <p-inputicon class="pi pi-search" />
                              <input pInputText type="text" placeholder="{{'searchInput' | translate}}"
                                     (input)="dt.filterGlobal(($any($event.target)).value, 'contains')"
                                     class="w-full md:w-72 border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-300" />
                            </p-iconfield>
						</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                    
                        <th pSortableColumn="appareil">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.appareil' | translate}}</span>
                                <p-sortIcon field="appareil"></p-sortIcon>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="indice">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.indice' | translate}}</span>
                                <p-sortIcon field="indice"></p-sortIcon>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="indicePrecedent">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.indicePrecedent' | translate}}</span>
                                <p-sortIcon field="indicePrecedent"></p-sortIcon>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="consommation">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.consommation' | translate}}</span>
                                <p-sortIcon field="consommation"></p-sortIcon>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="seuilComsommation">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.seuilComsommation' | translate}}</span>
                                <p-sortIcon field="seuilComsommation"></p-sortIcon>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="photo">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.photo' | translate}}</span>
                                <p-sortIcon field="photo"></p-sortIcon>
                                <p-columnFilter type="text" field="element.photo" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                    
                        <th pSortableColumn="tourneeReleveDetail">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span class="mr-2">{{'tourneeReleveCompteur.tourneeReleveDetail' | translate}}</span>
                                <p-sortIcon field="tourneeReleveDetail"></p-sortIcon>
                            </div>
                        </th>
                                
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="element"></p-tableCheckbox>
                            </td>
                                    
                        <td>{{element.appareil?.numeroAppareil}}</td>
                            
                                    
                        <td>{{element.indice}}</td>
                            
                                    
                        <td>{{element.indicePrecedent}}</td>
                            
                                    
                        <td>{{element.consommation}}</td>
                            
                                    
                        <td>{{element.seuilComsommation}}</td>
                            
                                    
                        <td>{{element.photo}}</td>
                            
                                    
                        <td>{{element.tourneeReleveDetail?.id}}</td>
                            
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                                <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                                    <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-secondary" (click)="exportPdf(element)"></button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                        <div class="p-d-flex p-ai-center p-jc-between">
                            En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'tournee releve compteur' : 'tournee releve compteurs' : 0 }}.
                        </div>
                    </ng-template>
                </p-table>


        </div>

            <app-tournee-releve-compteur-create-admin  *ngIf="createDialog  && createActionIsValid"></app-tournee-releve-compteur-create-admin>
            <app-tournee-releve-compteur-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-tournee-releve-compteur-edit-admin>
        <app-tournee-releve-compteur-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-tournee-releve-compteur-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
