<app-dialog-form [(visible)]="viewDialog" title="commande.tabPan"
                 [showAction]="false" cancelLabel="common.close"
                 (onCancel)="hideViewDialog()">
    <p-tabs [value]="0">
        <p-tablist>
            <p-tab [value]="0">{{'commande.tabPan' | translate}}</p-tab>
            <p-tab [value]="1">{{'commande.commandeItems' | translate}}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                    <app-input [disabled]="true" [placeholder]="'commande.code'"
                               [(ngModel)]="item.code" />
                    <app-input-number [disabled]="true" [placeholder]="'commande.total'"
                                      [(ngModel)]="item.total" />
                    <app-input-number [disabled]="true" [placeholder]="'commande.totalPayer'"
                                      [(ngModel)]="item.totalPayer" />
                    <app-datepicker [disabled]="true" [placeholder]="'commande.dateCommande'"
                                    [(ngModel)]="item.dateCommande" />
                    <app-input [disabled]="true" [placeholder]="'commande.etatComande'"
                               [(ngModel)]="item.etatComande" />
                </div>
            </p-tabpanel>

            <p-tabpanel [value]="1">
                <div class="p-4">
                    <p-table [value]="item.commandeItems" [scrollable]="true" scrollHeight="220px"
                             styleClass="p-datatable-sm">
                        <ng-template #header>
                            <tr>
                                <th>{{'commandeItem.produit' | translate}}</th>
                                <th>{{'commandeItem.prix' | translate}}</th>
                                <th>{{'commandeItem.quantite' | translate}}</th>
                                <th>{{'commandeItem.description' | translate}}</th>
                                <th>{{'commandeItem.commentaireClient' | translate}}</th>
                                <th>{{'commandeItem.commentaireVendeur' | translate}}</th>
                                <th>{{'commandeItem.code' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-p>
                            <tr>
                                <td>{{p.produit}}</td>
                                <td>{{p.prix}}</td>
                                <td>{{p.quantite}}</td>
                                <td>{{p.description}}</td>
                                <td>{{p.commentaireClient}}</td>
                                <td>{{p.commentaireVendeur}}</td>
                                <td>{{p.code}}</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="7" class="text-center py-4 text-muted-color text-sm">
                                    {{'common.noData' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</app-dialog-form>
