<app-data-grid-edit [(visible)]="editDialog" title="{{'batiment.tabPan' | translate}}" (onUpdate)="edit()" (onCancel)="hideEditDialog()">
    <p-tabs value="0">
        <p-tabpanels>
            <p-tabpanel value="0">
                <p-fluid>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <input pInputText id="batiment-code-edit" [(ngModel)]="item.code" [ngClass]="{'ng-invalid ng-dirty' : !validBatimentCode}" />
                                <label for="batiment-code-edit">{{'batiment.code' | translate}} *</label>
                            </p-floatlabel>
                            @if (!validBatimentCode) {
                                <small class="text-red-500">Code is obligatory.</small>
                            }
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <input pInputText id="batiment-complement-adresse-edit" [(ngModel)]="item.complementAdresse" />
                                <label for="batiment-complement-adresse-edit">{{'batiment.complementAdresse' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <input pInputText id="batiment-libelle-edit" [(ngModel)]="item.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validBatimentLibelle}" />
                                <label for="batiment-libelle-edit">{{'batiment.libelle' | translate}} *</label>
                            </p-floatlabel>
                            @if (!validBatimentLibelle) {
                                <small class="text-red-500">Libelle is obligatory.</small>
                            }
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="batiment-nombre-etages-edit" [(ngModel)]="item.nombreEtages" [showButtons]="true"></p-inputNumber>
                                <label for="batiment-nombre-etages-edit">{{'batiment.nombreEtages' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="batiment-nombre-points-livraison-edit" [(ngModel)]="item.nombrePointsLivraison" [showButtons]="true"></p-inputNumber>
                                <label for="batiment-nombre-points-livraison-edit">{{'batiment.nombrePointsLivraison' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="batiment-nombre-lieux-releve-edit" [(ngModel)]="item.nombreLieuxReleve" [showButtons]="true"></p-inputNumber>
                                <label for="batiment-nombre-lieux-releve-edit">{{'batiment.nombreLieuxReleve' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="batiment-nombre-lieux-consommation-edit" [(ngModel)]="item.nombreLieuxConsommation" [showButtons]="true"></p-inputNumber>
                                <label for="batiment-nombre-lieux-consommation-edit">{{'batiment.nombreLieuxConsommation' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-select inputId="batiment-commune-edit" class="w-full" appendTo="body" [options]="communes" [(ngModel)]="item.commune" [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"></p-select>
                                <label for="batiment-commune-edit">{{'batiment.commune' | translate}}</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <label class="text-sm font-semibold" for="batiment-actif-edit">{{'batiment.actif' | translate}}</label>
                            <p-toggleswitch id="batiment-actif-edit" [(ngModel)]="item.actif"></p-toggleswitch>
                        </div>
                    </div>
                </p-fluid>
            </p-tabpanel>

            <p-tabpanel value="1">
                <p-fluid>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <input pInputText id="appareils-numero-edit" [(ngModel)]="appareilsElement.numero" [ngClass]="{'ng-invalid ng-dirty' : !validAppareilsNumero}" />
                                <label for="appareils-numero-edit">Numero *</label>
                            </p-floatlabel>
                            @if (!validAppareilsNumero) {
                                <small class="text-red-500">Numero is obligatory.</small>
                            }
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="appareils-derniere-periode-index-edit" [(ngModel)]="appareilsElement.dernierePeriodeIndex" [showButtons]="true"></p-inputNumber>
                                <label for="appareils-derniere-periode-index-edit">Derniere periode index</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex flex-col gap-2">
                            <p-floatlabel variant="on">
                                <p-inputNumber inputId="appareils-derniere-annee-index-edit" [(ngModel)]="appareilsElement.derniereAnneeIndex" [showButtons]="true"></p-inputNumber>
                                <label for="appareils-derniere-annee-index-edit">Derniere annee index</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex justify-end md:col-span-3">
                            <p-button type="button" icon="pi pi-plus" [label]="appareilsIndex === -1 ? 'Ajouter' : 'Mettre a jour'" severity="success" (onClick)="addAppareils()"></p-button>
                        </div>
                    </div>
                </p-fluid>

                <div class="card p-4">
                    <p-table [value]="item.appareils" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Numero</th>
                                <th>Derniere periode index</th>
                                <th>Derniere annee index</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-i="rowIndex">
                            <tr>
                                <td>{{p.numero}}</td>
                                <td>{{p.dernierePeriodeIndex}}</td>
                                <td>{{p.derniereAnneeIndex}}</td>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <p-button type="button" icon="pi pi-pencil" severity="success" [rounded]="true" [text]="true" (onClick)="editAppareils(p,i)"></p-button>
                                        <p-button type="button" icon="pi pi-times" severity="danger" [rounded]="true" [text]="true" (onClick)="deleteAppareils(p,i)"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</app-data-grid-edit>
