<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'tourneeReleveDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabs [value]="0">
<p-tablist>
<p-tab [value]="0">{{'tourneeReleveDetail.tabPan' | translate}}</p-tab>
<p-tab [value]="1">{{'tourneeReleveDetail.tourneeReleveCompteurs' | translate}}</p-tab>
</p-tablist>
<p-tabpanels>
<p-tabpanel [value]="0">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="1">{{'tourneeReleveDetail.tourneeLotReleve' | translate}}</label>
                                <input type="text" pInputText [disabled]="true" placeholder="{{'tourneeReleveDetail.tourneeLotReleve' | translate}}" autofocus  id="1" [ngModel]="item.tourneeLotReleve?.libelle">
                            </div>
                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="2">{{'tourneeReleveDetail.lotReleve' | translate}}</label>
                                <input type="text" pInputText [disabled]="true" placeholder="{{'tourneeReleveDetail.lotReleve' | translate}}" autofocus  id="2" [ngModel]="item.lotReleve?.numero">
                            </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'tourneeReleveDetail.nbBatiments' | translate}}</label>
                                    <p-inputNumber id="3" [disabled]="true" placeholder="{{'tourneeReleveDetail.nbBatiments' | translate}}" [ngModel]="item.nbBatiments"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'tourneeReleveDetail.nbCompteurs' | translate}}</label>
                                    <p-inputNumber id="4" [disabled]="true" placeholder="{{'tourneeReleveDetail.nbCompteurs' | translate}}" [ngModel]="item.nbCompteurs"></p-inputNumber>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="5">{{'tourneeReleveDetail.nbCompteursBatiment' | translate}}</label>
                                    <p-inputNumber id="5" [disabled]="true" placeholder="{{'tourneeReleveDetail.nbCompteursBatiment' | translate}}" [ngModel]="item.nbCompteursBatiment"></p-inputNumber>
                                </div>
                </div>
            </p-tabpanel>
<p-tabpanel [value]="1">
                        <div class="card p-4">
                            <p-table [value]="item.tourneeReleveCompteurs" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                                    <th>Appareil</th>
                                                    <th>Indice</th>
                                                    <th>Indice precedent</th>
                                                    <th>Consommation</th>
                                                    <th>Seuil comsommation</th>
                                                    <th>Commentaire</th>
                                                    <th>Photo</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                                <td>{{p.appareil?.numeroAppareil}}</td>
                                                    <td>{{p.indice}}</td>
                                                    <td>{{p.indicePrecedent}}</td>
                                                    <td>{{p.consommation}}</td>
                                                    <td>{{p.seuilComsommation}}</td>
                                                    <td>{{p.commentaire}}</td>
                                                    <td>{{p.photo}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabpanel>
</p-tabpanels>
</p-tabs>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="flex justify-end p-4">
            <div>
                <button class="border border-gray-400 font-semibold py-2 px-4 rounded shadow" (click)="hideViewDialog()">
                    <i class="pi pi-times"></i> Annuler
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
