<app-data-grid-edit [(visible)]="editDialog" title="{{'commandeItem.tabPan' | translate}}" (onUpdate)="edit()" (onCancel)="hideEditDialog()">
    <ng-template #formContent>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
            <app-select id="commandeItem-commande" [options]="commandes" optionLabel="code"
                        [placeholder]="'commandeItem.commande'" [(ngModel)]="item.commande" />
            <app-input id="commandeItem-produit" [placeholder]="'commandeItem.produit'"
                       [(ngModel)]="item.produit" />
            <app-input-number id="commandeItem-prix" [placeholder]="'commandeItem.prix'"
                              [(ngModel)]="item.prix" />
            <app-input-number id="commandeItem-quantite" [placeholder]="'commandeItem.quantite'"
                              [(ngModel)]="item.quantite" />
            <app-textarea id="commandeItem-description" [placeholder]="'commandeItem.description'"
                          [(ngModel)]="item.description" />
            <app-textarea id="commandeItem-commentaireClient" [placeholder]="'commandeItem.commentaireClient'"
                          [(ngModel)]="item.commentaireClient" />
            <app-textarea id="commandeItem-commentaireVendeur" [placeholder]="'commandeItem.commentaireVendeur'"
                          [(ngModel)]="item.commentaireVendeur" />
            <app-input id="commandeItem-code" [placeholder]="'commandeItem.code'"
                       [(ngModel)]="item.code" />
        </div>
    </ng-template>
</app-data-grid-edit>
