@if (listActionIsValid) {
    <div class="grid">
        <div class="col-12">
            <p-toast />
            <div class="card">
                <app-server-data-table
                    [columns]="columns"
                    [dataLoader]="loadData"
                    [criteriaFactory]="createCriteria"
                    [exportDataLoader]="exportData"
                    [title]="'lotReleve.header'"
                    [storageKey]="'lot-releve'"
                    [exportFileName]="'LotReleve'"
                    [dataKey]="'id'"
                    [globalFilterFields]="['numero', 'code']"
                    (onCreate)="openCreate()"
                    (onEdit)="edit($event)"
                    (onDelete)="delete($event)"
                    (onDeleteSelected)="deleteMultiple($event)" />
            </div>

            <app-lot-releve-create-admin *ngIf="createDialog && createActionIsValid" />
            <app-lot-releve-edit-admin *ngIf="editDialog && editActionIsValid" />
            <app-lot-releve-view-admin *ngIf="viewDialog && viewActionIsValid" />
            <p-confirmDialog [style]="{ width: '450px' }" />
        </div>
    </div>
} @else {
    <p-card header="Permission not allowed">
        <p class="m-0">You don't have permission to access!</p>
    </p-card>
}
